format = """
$directory\
$git_branch\
$git_status\
$fill\
$php\
$python\
$lua\
$nodejs\
$golang\
$haskell\
$rust\
$ruby\
$aws\
$docker_context\
$jobs\
$cmd_duration\
$line_break\
$character"""

add_newline = true

[directory]
style = 'bold fg:#ebdbb2'
format = '[$path ]($style)'
truncation_length = 3
truncation_symbol = '…/'
truncate_to_repo = false

[directory.substitutions]
'Documents' = '󰈙'
'Downloads' = ' '
'Music' = ' '
'Pictures' = ' '

[git_branch]
style = 'fg:green'
symbol = ' '
format = '[on](white) [$symbol$branch ]($style)'

[fill]
symbol = ' '

[python]
style = 'yellow'
symbol = ' '
format = '[${symbol}${pyenv_prefix}(${version} )(\($virtualenv\) )]($style)'
pyenv_version_name = true
pyenv_prefix = ''

[lua]
format = '[$symbol($version )]($style)'
symbol = ' '

[nodejs]
style = 'green'
symbol = ' '

[golang]
style = 'blue'
symbol = ' '

[haskell]
style = 'purple'
symbol = ' '

[rust]
style = 'orange'
symbol = ' '

[php]
style = 'fg:#8892BF'
symbol = ' '

[bun]
style = "brown"
symbol = ' '

[ruby]
style = 'red'
symbol = ' '

[package]
symbol = '󰏗 '

[aws]
symbol = ' '
style = 'yellow'
format = '[$symbol($profile )(\[$duration\] )]($style)'

[docker_context]
symbol = ' '
style = 'fg:#06969A'
format = '[$symbol]($style) $path'
detect_files = ['docker-compose.yml', 'docker-compose.yaml', 'Dockerfile']
detect_extensions = ['Dockerfile']

[jobs]
symbol = ' '
style = 'red'
number_threshold = 1
format = '[$symbol]($style)'

[cmd_duration]
min_time = 500
style = 'fg:gray'
format = '[$duration]($style)'

[git_status]
style = 'fg:red'
format = '([$all_status$ahead_behind]($style) )'
ahead = ' ⇡ ${count}'
diverged = ' ⇕⇡ ${ahead_count}⇣${behind_count}'
behind = ' ⇣ ${count}'
conflicted = ' '
staged = ' '
modified = ' '
renamed = ' 󰁕'
deleted = ' ✖'
untracked = ' '
